.login-container {
    background-color: var(--branco);
    height: 50rem;
    width: 40rem;
    border-radius: 1.5rem;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 5px 20px 2px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
}

.login-image {
    width: 10rem;
    height: 12rem;
}



.form-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding-top: 2rem;
}

.form-container label {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 85%;
}


.form-container label input {
    background-color: #f4f3f3;
    outline: none;
    border: 0;
    padding: 1.5rem;
    height: 4rem;
    border-radius: .7rem;
    width: 100%;
}

.form-container label input::placeholder {
    font-size: 1.4rem;
}

.form-container label p {
    font-size: 1.6rem;
}

p a {
    text-decoration: none;
    color: var(--azulAnimo);
    font-size: 1.4rem;
    font-weight: 600;
    transition: .3s ease-in-out;
}

p a:hover {
    color: var(--azulEsverdeado);
}

.input-password {
    width: 100%;
    height: 100%;
    position: relative;
}

.password-icon {
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    font-size: 1.8rem;
    cursor: pointer;
    color: var(--azulEscuro);
    transition: .4s;
}

.password-icon:hover {
    color: var(--azulEsverdeado);
}

.btnSubmitLogin {
    border: none;
    background-color: var(--cinza);
    height: 4rem;
    width: 10rem;
    cursor: pointer;
    border-radius: .7rem;
    transition: .3s ease-in-out;
}

.btnSubmitLogin:hover {
    background-color: var(--azulEsverdeado);
    color: var(--branco);
}